.mainContainer {
  margin-left: 36px;
  margin-right: 36px;
  height: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lefter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.taskBoard {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}
.mic {
  margin-left: 37px;
}

.contentTopPanelItemsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentTopPanelItems {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #98a2b3;
  margin-right: 32px;
}
.contentTopPanelRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.PeopleImgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.PeopleImgs > div {
  margin-left: -14px;
  border: 2px solid #ffffff;
  border-radius: 24px;
  background-color: #98a2b3;
}

.contentTopPanelRight * {
  border-radius: 50%;
}

.afterPeopleImgs {
  width: 40px;
  height: 40px;
  border: 2px dashed #ebeef2;
  border-radius: 48px;
  margin-left: 8px;
  align-items: center;
  display: flex;
  justify-content: center;
}
